/* 
 * colours
 * #0d3d1e Green
 *
 */
body {
  color: #0d3d1e;
  margin: 0;
  padding: 0 0 20px 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #a3a1a2 url('/img/ryan-portrait-1190px.jpg') no-repeat top center;
}
header {
  background: url('/img/ryan-meili-logo-small.png') #0d3d1e no-repeat center 10px;
  height: 70px;
}
div[role="main"] {
  text-align: center;
}
#form {
  margin: 0;
  padding: 0;
}
#form fieldset {
  border: none;
  margin: 0;
  padding: 0;
}
#form input.email,
#form input.postal {
  color: #969696;
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid #969696;
}
#form input.email {
  width: 300px;
  display: block;
}
#form input.postal {
  width: 160px;
}
#form input.submit {
  text-transform: uppercase;
}
#donate {
  margin: 0 0 20px 0;
}
#donate p {
  margin: 0;
  padding: 0;
}
#donate a#donate {
  font-size: .8em;
  background: #f89a38;
  color: white;
  padding: 5px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  text-decoration: none;
  text-transform: uppercase;
}
a:link,
a:visited,
a:hover {
  color: #0d3d1e;
}
header {
  background: url('/img/ryan-meili-logo-small.png') #0d3d1e no-repeat 40px 10px;
  height: 70px;
}
div[role="main"] {
  text-align: left;
  padding-left: 40px;
}
#marketing {
  width: 50%;
}
#donate {
  width: 40%;
}
#marketing-copy {
  font-family: Tahoma, Arial, sans-serif;
  text-transform: uppercase;
}
#marketing-copy span#together {
  font-weight: bold;
  display: block;
  font-size: 3.2em;
}
#marketing-copy p#join {
  font-weight: normal;
  text-transform: none;
}
footer {
  background: url('/img/ryan-meili-logo-on-trans-300px.png') no-repeat bottom left;
  height: 200px;
  margin-left: 40px;
}
@media (min-width: 1200px) {
  body {
    background: #a3a1a2 url('/img/ryan-portrait-1920px.jpg') no-repeat top center;
  }
  header {
    background: url('/img/ryan-meili-logo-small.png') #0d3d1e no-repeat 100px 10px;
    height: 70px;
  }
  div[role="main"] {
    text-align: left;
    padding-left: 100px;
  }
  footer {
    background: url('/img/ryan-meili-logo-on-trans-300px.png') no-repeat bottom left;
    height: 200px;
    margin-left: 100px;
  }
}
@media (max-width: 767px) {
  body {
    background: none;
  }
  header {
    background: url('/img/ryan-meili-logo-small.png') #0d3d1e no-repeat center 10px;
    height: 70px;
  }
  div[role="main"] {
    text-align: center;
    padding-left: 0px;
  }
  div#ryan-portrait {
    background: url('/img/ryan-portrait-480px.jpg') no-repeat center;
    height: 248px;
  }
  #marketing {
    width: 100%;
  }
  #donate {
    width: 100%;
  }
  #marketing-copy {
    width: 100%;
    color: #0d3d1e;
    text-align: center;
    font-weight: bold;
  }
  #marketing-copy span#together {
    display: block;
    font-size: 1.4em;
    text-transform: uppercase;
  }
  #marketing-copy p#join {
    font-size: .9em;
    font-weight: normal;
    color: #646464;
  }
  #form {
    text-align: center;
  }
  #form input.email {
    display: inline;
    width: 90%;
  }
  #form input.postal {
    display: inline;
    width: 90%;
  }
  #form input.submit {
    text-transform: uppercase;
    width: 90%;
  }
  #donate a#donate {
    font-size: .8em;
    background: #f89a38;
    color: white;
    padding: 10px 25% 10px 25%;
    width: 300px;
  }
}
@media (max-width: 480px) {
  body {
    font-family: Tahoma, Arial, sans-serif;
  }
  div#ryan-portrait {
    background: url('/img/ryan-portrait-320px.jpg') no-repeat center;
    height: 180px;
  }
  header {
    background: url('/img/ryan-meili-logo-small.png') #0d3d1e no-repeat center;
    height: 70px;
  }
  div[role="main"] {
    text-align: center;
    padding-left: 0px;
  }
  #marketing {
    width: 100%;
  }
  #marketing-copy {
    font-family: Tahoma, Arial, sans-serif;
  }
  #donate {
    width: 100%;
  }
  #form {
    text-align: center;
  }
  #form input.email {
    display: inline;
    width: 90%;
  }
  #form input.postal {
    display: inline;
    width: 90%;
  }
  #form input.submit {
    text-transform: uppercase;
    width: 90%;
  }
  #donate a#donate {
    font-size: .8em;
    background: #f89a38;
    color: white;
    padding: 10px 25% 10px 25%;
    width: 300px;
  }
}
@media (min-width: 480px) and (max-width: 640px) {
  div#ryan-portrait {
    background: url('/img/ryan-portrait-480px.jpg') no-repeat center;
    height: 248px;
  }
  header {
    background: url('/img/ryan-meili-logo-small.png') #0d3d1e no-repeat center;
    height: 70px;
  }
  div[role="main"] {
    text-align: center;
    padding-left: 0px;
  }
  #marketing {
    width: 100%;
  }
  #donate {
    width: 100%;
  }
  #form {
    text-align: center;
  }
  #form input.email {
    display: inline;
    width: 90%;
  }
  #form input.postal {
    display: inline;
    width: 90%;
  }
  #form input.submit {
    text-transform: uppercase;
    width: 90%;
  }
  #donate a#donate {
    font-size: .8em;
    background: #f89a38;
    color: white;
    padding: 10px 25% 10px 25%;
    width: 300px;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  body {
    background: #a3a1a2 url('/img/ryan-portrait-1024px.jpg') no-repeat top center;
    color: #0d3d1e;
  }
  header {
    background: url('/img/ryan-meili-logo-small.png') #0d3d1e no-repeat 40px 10px;
    height: 70px;
  }
  div[role="main"] {
    text-align: left;
    padding-left: 40px;
  }
  #marketing {
    width: 50%;
  }
  #marketing-copy span#together {
    font-weight: bold;
    display: block;
    font-size: 3.2em;
  }
  #marketing-copy p#join {
    font-weight: normal;
    text-transform: none;
  }
  #donate {
    width: 40%;
  }
  footer {
    background: url('/img/ryan-meili-logo-on-trans-300px.png') no-repeat bottom left;
    height: 200px;
    margin-left: 40px;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  /* Put your iPhone 4g styles in here */
}
/* Following Android targeting from:
http://developer.android.com/guide/webapps/targeting.html
http://pugetworks.com/2011/04/css-media-queries-for-targeting-different-mobile-devices/  */
@media only screen and (-webkit-device-pixel-ratio: 0.75) {
  /* Put CSS for low density (ldpi) Android layouts in here */
}
@media only screen and (-webkit-device-pixel-ratio: 1) {
  /* Put CSS for medium density (mdpi) Android layouts in here */
}
@media only screen and (-webkit-device-pixel-ratio: 1.5) {
  /* Put CSS for high density (hdpi) Android layouts in here */
}
/* end Android targeting */
.hidden {
  display: none;
  visibility: hidden;
}
.visible-phone {
  display: none !important;
}
.visible-tablet {
  display: none !important;
}
.hidden-desktop {
  display: none !important;
}
.visible-desktop {
  display: inherit !important;
}
@media (min-width: 768px) and (max-width: 979px) {
  .hidden-desktop {
    display: inherit !important;
  }
  .visible-desktop {
    display: none !important ;
  }
  .visible-tablet {
    display: inherit !important;
  }
  .hidden-tablet {
    display: none !important;
  }
}
@media (max-width: 767px) {
  .hidden-desktop {
    display: inherit !important;
  }
  .visible-desktop {
    display: none !important;
  }
  .visible-phone {
    display: inherit !important;
  }
  .hidden-phone {
    display: none !important;
  }
}
