<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml" xmlns:og="http://ogp.me/ns#" xml:lang="en" lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>{{ page_title }}</title>
    
    <link rel="stylesheet" href="theme.scss" type="text/css" />
    <link href="favicon.ico" rel="shortcut icon" />
    {{ content_for_header }}
    
</head>

{% if site.has_background_image? %}
  <body style="background: url({{ site.background_image_url }}); background-position: top left; background-attachment: fixed; background-color: transparent;">
{% else %}
  <body>
{% endif %}
  
<div align="center">
<div id="body" class="page_{{ request.template }}">
  
  {% if site.has_header_image? %}
  <div id="header" style="width: 100%;">
    {% if site.has_background_image? %}
    <div id="header_wrap" style="background-color: 0F3D1E; width: 100%;">
    {% else %}
      <div id="header_wrap" style="background-color: 0F3D1E; width: 100%;">
    {% endif%}
        <div class="width_container" style="background-color: 0F3D1E;">
          <a href="/" align="center"><img align="center" src="{{ site.header_image_url_960 }}" style="margin: auto;" width="960" border="0" /></a>
      </div>
    </div>
  </div>
  {% else %}
  <div id="header">
    {% if site.has_background_image? %}
      <div id="header_wrap" style="background-color: 0F3D1E;">
    {% else %}
      <div id="header_wrap">
    {% endif %}
      <div class="width_container">
        <table cellpadding="0" cellspacing="0" width="960">
        <tr>
          <td valign="top" align="left">
            {% if site.has_meta_image? %}
              <div class="header_pic_container"><a href="/"><img src="{{ site.meta_image_large_url }}" width="116" height="116" id="header_pic"></a></div>
            {% endif %}
            <div class="header_right">
            <div class="header_headline"><a href="/">{{ site.long_name }}</a></div>
            </div>
          </td>
          <td valign="middle" align="right">
					{% if site.has_twitter? %}
            {% if request.is_ssl? %}
            {% else %}
          <div id="tweet_box_wrap">
            <div id="tweet_box">
          <div id="tweet_text"><ul id="twitter_update_list"></ul> 
            <div class="padtopless">
              <a class="follow twitter-follow-button" href="{{ site.broadcaster.twitter_profile_url }}">follow @{{ site.broadcaster.twitter_login }} on twitter</a>
            </div>
            </div>
          </div>
          {% endif %}
				{% endif %}
          </td>
        </tr>
        </table>
      </div>
    </div>
  </div>
  {% endif %}
  
    <div class="nav_wrap">
      <div class="width_container">
        {% include "nav" %}
      </div>
    </div>
    
    {% if page.features_count > 0 %}
    <div id="callout">
      <div id="callout_sun">
        <div class="width_container">
     {% include "features" %}
        </div>
      </div>
    </div>
    {% endif %}
  
  <div id="middle">
  {% if site.has_background_image? %}
    <div id="content_wrap" style="background-color: transparent;">
  {% else %}
    <div id="content_wrap">
  {% endif %}
  <div class="width_container">
    {% if request.is_sidebar? %}
      {% include "columns_2" %}
    {% else %}
      {% include "columns_1" %}
    {% endif %}
  </div>
  </div>
  </div>
  
  {{ content_for_footer }}

    <div id="footer">
      <div class="width_container">
        <div class="footer_container">

        {% if request.logged_in? %}

        {% if site.footer_content.size > 0 %}
        {{ site.footer_content }}
        <hr />
        {% endif %}

          <div style="float: left;">
            Hi <a href="{{ request.current_signup.settings_url }}">{{ request.current_signup.name_or_email }}</a>. View your <a href="{{ request.current_signup.profile_url }}">public profile</a>, <a href="{{ request.current_signup.settings_url }}">account settings</a>, or <a href="{{ request.current_signup.logout_url }}">sign out</a>.  
          </div>

          <div style="float: right;">
            Created with <a href="http://nationbuilder.com/">NationBuilder</a>
          </div>

        {% else %} 

        {% if site.footer_content.size > 0 %}
        {{ site.footer_content }}
        <hr />
        {% endif %}

        <div style="float: left;">
          Sign in with <a href="{{ request.facebook_connect_url }}">Facebook</a>, <a href="{{ request.twitter_connect_url }}">Twitter</a> or <a href="/login">email</a>.
          </div>

        <div style="float: right;">
          Created with <a href="http://nationbuilder.com/">NationBuilder</a>
        </div>

        {% endif %}
      </div>
    </div>  
    </div>
  </div>
  </div>
{% if request.is_ssl? %}
{% else %}  
<script type="text/javascript" src="http://twitter.com/javascripts/blogger.js"></script> 
<script type="text/javascript" src="http://twitter.com/statuses/user_timeline/{{ site.broadcaster.twitter_login }}.json?callback=twitterCallback2&amp;count=1"></script>  
{% endif %}
</body>
</html>
