{% include "breadcrumbs" %}

<div id="headline">
	<h2>{{ page.headline }}</h2>
	
	{% if page.has_author? %}
		<div class="padtopless">
			{% include "page_byline" %}
		</div>
	{% endif %}
	
</div>

<div id="content">

	<div id="intro">
		<div class="content">
		{{ page.blog_post.content_full }}
		</div>
	</div>
	
	{% if page.tags_count > 0 %}
		<div id="page_tags">
			{% include "page_tags" with page %}
		</div>
	{% endif %}
	
	<div id="like_page">
		<b>Do you like this post?</b>
    {% include "like_page" %}
	</div>

	{% if page.show_stream? %}
		{% include "page_stream" %}
	{% endif %}

</div>