<div class="padbottom">
<h2>Your pages</h2>
</div>

<table>
  {% for authored_page in current_signup.authored_pages %}
    <tr>
      <td><a href="{{ authored_page.edit_url }}" class="action-button">edit</a></td>
			<td>{{ authored_page.icon | icon }}</td>
      <td>{% if authored_page.has_parent? %}<a href="{{ authored_page.parent.url }}">{{ authored_page.parent.name }}</a> &rarr;{% endif %} <a href="{{ authored_page.url }}">{{ authored_page.name }}</a></td>
      <td>{{ authored_page.published_at | date_to_string }}</td>      
    </tr>
  {% endfor %}
</table>

<div class="padtop">
  {{ current_signup.authored_pages | paginate }}
</div>